<script module>
  export { how, hero, intro, palette, hue, shades, lightness, chroma, fade, saturation, desaturation, sphere, combination, selection, programming, oklch, showcase, integrations, creator, credits }
</script>

{#snippet hero()}

> The *automatic* color scheme generator

{/snippet}

{#snippet intro()}

Color Horse generates a harmonious color scheme from any two colors. It uses modern color science to select complimentary colors that maintain a sense of perceptual uniformity.

To begin, try choosing your own colors below.


{/snippet}

{#snippet how()}

## How it works

Color Horse uses a color space called "OKLCH" to generate palettes. OKLCH emphasizes _perceptual uniformity_ between different color shades. That means you can choose a red and a blue (or any two colors) that have a similar feeling of richness or lightness.

To begin, Color Horse extracts the hue from each of your colors. These two hues can be placed on a circle.

{/snippet}

{#snippet palette()}

## Palette

Choose your brand's primary and secondary colors. These colors should have some contrast. Neither color can be white, black, or grey. (Neutrals have no hue, so they can't be used to interpolate other colors.)

After choosing your colors, set the darkest, lightest, and most desaturated shades in your palette.

{/snippet}

{#snippet hue()}

In basic color palettes, the hues have a uniform spacing around the color wheel. In the real world, this is a very rare pattern. Instead of spacing the colors evenly, Color Horse creates a smooth gradual distribution, so some colors are slightly closer together and some are slightly farther apart. You can see how the spacing changes as you change the hues in your two input colors.

{/snippet}

{#snippet shades()}

Next, Color Horse extracts the lightness from each of your input colors. This gives us two starting points to create a gradient of shades from light to dark. Color palettes typically use different shades for different elements — backgrounds, buttons, text, headings.


{/snippet}

{#snippet lightness(svg)}

Color Horse creates eight shades — in addition to the two provided by the two input colors — and places them smoothly around the inputs, resulting in ten shades from light to dark. You can also set the lightest and darkest shade to increase or reduce the palette's contrast.

{/snippet}

{#snippet chroma()}

After hue and lightness, OKLCH uses one more property to identify each color: saturation, or "chroma." Chroma is just as important as hue in defining a color. Chroma is the difference between brown and red, beige and yellow, grey and blue.

When we place our colors on a circle by hue, we can also represent their saturation as their position on the circle's radius, where the center of the circle is grey (the same for all colors) and the circumference of the circle is a fully-saturated rainbow.

{/snippet}

{#snippet saturation()}

As you'll see below, every shade in our palette has a different chroma. So if your two input colors have different shades, they won't exist in the same "chroma circle." Nonetheless, they are anchor points for the saturation of every other color in the palette. As you adjust their saturation, you'll see the rest of the palette shift.

{/snippet}

{#snippet desaturation()}

Color palettes typically lower the saturation of the lightest and darkest colors of the palette. This makes the mid-range colors the most vibrant while the colors used for text and backgrounds are softer.

{/snippet}

{#snippet fade()}

By lowering the saturation of the lightest and darkest shades, we create a curve in the lightness gradient. A stronger curve will create a softer palette. A straighter curve will create a more vibrant palette.

{/snippet}

{#snippet sphere()}

These three properties (lightness, chroma, and hue) can describe virtually any color (including many that your computer can't even display accurately). By choosing colors that have harmonious relationships between these three variables, we create a set of colors that have a sense of perceptual uniformity, which can be very pleasing to the eye. We can actually visualize this process in three dimensions.

{/snippet}

{#snippet combination()}

By plotting hue on a circle, lightness on a vertical axis, and chroma on a radial axis, our color palette forms a watermelon shape in three dimensions. Because these colors form a smooth three-dimensional shape, we can speculate that they will also create a harmonious palette.

{/snippet}

{#snippet selection()}

For a website, a simple color palette scheme a few hues for brand colors and a few hues for "semantic" colors that have generic meanings (like red for "danger"). Color Horse automatically chooses these colors for you:

- Primary (your first input) <div class="swatch" style="--color: var(--primary-05);"></div>
- Secondary (your second input) <div class="swatch" style="--color: var(--secondary-05);"></div>
- Tertiary (symmetrical hue of second input) <div class="swatch" style="--color: var(--tertiary-05);"></div>
- Accent (opposite hue of first input) <div class="swatch" style="--color: var(--accent-05);"></div>
- Info (a blue) <div class="swatch" style="--color: var(--info-05);"></div>
- Success (a green) <div class="swatch" style="--color: var(--tip-05);"></div>
- Warning (a yellow or orange) <div class="swatch" style="--color: var(--warning-05);"></div>
- Danger (a red) <div class="swatch" style="--color: var(--danger-05);"></div>

The result is a simple, cohesive color scheme.

The full palette includes four more hues not included in the color scheme. You could use these hues if you like, but for most color schemes eight colors is more than enough.

{/snippet}

{#snippet programming()}

## Programming

Use CSS variables.

Use the npm package.

{/snippet}

{#snippet oklch()}

> [!note]
> ## What is OKLCH?
>
> To learn more about OKLCH, read [Lea Verou's excellent explanation](https://lea.verou.me/blog/2020/04/lch-colors-in-css-what-why-and-how/),

{/snippet}

{#snippet showcase()}

Looking for inspiration? Try out some iconic color combinations from famous brands.

{/snippet}

{#snippet integrations(cssCopy, jsCopy, aseDownload)}

To use this palette, you can copy paste the variables directly into your website's CSS:

{@render cssCopy()}

To use the variables in an app, copy-paste the following JavaScript object:

{@render jsCopy()}

Working in a design tool instead? Download the palette as an Adobe Swatch Exchange file, importable into Photoshop, Illustrator, InDesign, Affinity, and Figma or Sketch via a plugin:

{@render aseDownload()}

Color Horse also exists as a zero-dependency npm package called `colorhorse`. Install the package to use `colorhorse` to programmatically generate color schemes.

```sh
npm install colorhorse
```

Pass two colors to the utility function.

```js
import { getScheme } from "colorhorse";

getScheme(colorOne, colorTwo);
```

> [!warning]
> ## Bugs ahead
>
> Please note that this package is in beta. Feel free to use it, but please report bugs on GitHub.

{/snippet}

{#snippet creator()}

Hi! My name is Sam. I'm the author of a static blog generator called [Vowel](https://vowel.cc). I wanted a way for Vowel users to create unique, beautiful color schemes for their websites. That's how I got the idea for Color Horse.

Do you have a cool project? I'm currently looking for my next role. I'm a technical writer and full-stack developer interested in information, publishing, and community. Feel free to shoot me a message on [LinkedIn](https://linkedin.com/in/samlittlefair) or [Bluesky](https://bsky.app/profile/littlefair.ca).

{/snippet}

{#snippet credits()}

This project is inspired by all of the creativity in the web dev community, especially developers working on color problems, like [Lea Verou](https://lea.verou.me/blog/2020/04/lch-colors-in-css-what-why-and-how/), [Adam Argyle](https://nerdy.dev/), and [David Aerne](https://bsky.app/profile/meodai.bsky.social). It's also worth mentioning that the branding of this website is not dissimilar to other [horse-themed design blogs](https://frontend.horse/).

The icons are from [Font Awesome](https://fontawesome.com), except for the horse icons, which are by [Lewen Design](https://thenounproject.com/creator/lewen.design) via Noun Project.

The heading font is [Fraunces](https://undercase.xyz/fonts/fraunces) by Undercase

{/snippet}

<style>

	blockquote {
		font-family: Fraunces;
		padding: 0;
		margin: 0;
		font-size: 2em;
		font-weight: 900;
		font-style: italic;
		color: var(--pop-text);
		text-align: center;
		text-wrap: balance;

		em {
			color: var(--pop-text-em);
		}
	}

	.swatch {
		display: inline-block;
		height: 0.8em;
		aspect-ratio: 1/1;
		background: var(--color);
		border-radius: 50%;
		border: 1px solid black;
	}
</style>
